.H1 {
    font-size: 2rem;
    color: cornflowerblue
}

.H2 {
    font-size: 1.6rem;
    color: cornflowerblue
}

.H3 {
    font-size: 1.2rem;
    color: cornflowerblue;
}

.IMG,
.IMG+tr div {
    background: #444 !important;
    margin: 0 2rem;
    padding: 3px 6px
}

.IMG+tr:not(.IMG) div {
    color: #aaa
}

.LI {
    color: turquoise !important;
    padding-left: 2rem !important
}

.BQ,
.BQ+tr div {
    margin: 0 2rem;
    color: #999
}

.BQ+tr:not(.BQ) div {
    color: #666
}

.PID {
    color: orange
}

.REF {
    color: crimson
}

.QUO {
    color: #777
}

